<a href="https://colab.research.google.com/github/Cheunji/aipython/blob/main/2024_01_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.1 입력

In [ ]:
# 나이를 입력받아서 출력하기
a=input("당신의 나이는?")
print(a, "살 이군요.")
print(type(a))

# 내년의 나이를 계산하여 출력하기
# 연산을 위해 입력받은 값의 자료형을 정수형으로 변환
b=int(a)
print("내년엔", b+1, "살이 되네요")
print(type(b))

# 답안1 : print=int(input("당신의 나이는?"))
# 답안2 : print("내년엔", int(a)+1, "살이 되네요")

당신의 나이는?2
2 살 이군요.
<class 'str'>
내년엔 3 살이 되네요
<class 'int'>

In [ ]:
# 오류 코드의 수정
a=(input("당신의 나이는?"))
msg=a+"살 이군요"
print(msg)
print("내년엔",int(a)+1,"살이 되네요")
print(type(a))

# a=int(input("당신의 나이는?"))
# msg=str(a)+"살 이군요."

당신의 나이는?22
22살 이군요
내년엔 23 살이 되네요
<class 'str'>

2.2 출력

In [ ]:
a="파이썬"
# print(a,"아 반가워.")

# msg=a+"아 반가워."
# print(msg)

# 형식지정자의 사용 : 출력문 안에 다양한 데이터 있을 시 편리
print("%s아 반가워~"%a) # s=str 문자열 출력
b=20
print("%s아 반가워~ %d살 이구나~"%(a,b))

# format문
print("오늘은 {}월 {}일 입니다.".format(6,26))
print("오늘은 {:d}월 {:5.2f}일 입니다.".format(6,26))

파이썬아 반가워~
파이썬아 반가워~ 20살 이구나~
오늘은 6월 26일 입니다.
오늘은 6월 26.00일 입니다.

In [ ]:
name="홍길동"
age=20.5
# 이름은        홍길동이고 나이는 20.50입니다. .format 사용
print("이름은{:10s}이고 나이는 {:.2f}입니다.".format(name, age))

이름은홍길동       이고 나이는 20.50입니다.

실습

In [ ]:
# Program 2-6
Lab = 105
print('우리가 수업하는 실습실:')
print(Lab)

우리가 수업하는 실습실:
105

In [ ]:
# Program 2-7
Lab=105
print('우리가 수업하는 실습실: ', Lab)

우리가 수업하는 실습실:  105

In [ ]:
# Program 2-8
my_id = 20150001
grade = 1
print('나의 학번: ')
print(my_id)
print('학년: ')
print(grade)

나의 학번:
20150001
학년:
1

In [ ]:
# Program 2-9
dollars = 2.75
print('I have', dollars, 'in my account.')

dollars = 99.95
print('But now I have', dollars, 'in my account!')

I have 2.75 in my account.
But now I have 99.95 in my account!

In [ ]:
# Program 2-10
department = '국어국문학과'
name = '홍길동'
print(department, name)

국어국문학과 홍길동

In [ ]:
# Program 2-11
department = input('학과명: ')
name = input('성명: ')
print('안녕하세요', department, name)

학과명: 정치외교학과
성명: 최은지
안녕하세요 정치외교학과 최은지

In [ ]:
# Program 2-12
name = input("당신의 이름은 무엇입니까?")
age = int(input('나이는 어떻게 되시나요?'))
attending_time = float(input('통학시간은 얼마나 걸립니까?'))

print('입력 정보는 다음과 같습니다.')
print('이름:', name)
print('나이:', age)
print('통학시간:', attending_time)

당신의 이름은 무엇입니까?최은지
나이는 어떻게 되시나요?22
통학시간은 얼마나 걸립니까?1
입력 정보는 다음과 같습니다.
이름: 최은지
나이: 22
통학시간: 1.0

In [ ]:
# Program 2-13
salary = 2500.0
bonus = 1200.0
pay = salary + bonus
print('총 급여: ', pay)

총 급여:  3700.0

In [ ]:
# Program 2-14
original_price = float(input("제품의 원가를 입력해주세요: "))
discount = original_price * 0.2
sale_price = original_price - discount
print('할인가격:', sale_price)

제품의 원가를 입력해주세요: 100
할인가격: 80.0

In [ ]:
# Program 2-15
test1 = float(input('첫 번재 과목 점수를 입력해주세요: '))
test2 = float(input('두 번재 과목 점수를 입력해주세요: '))
test3 = float(input('세 번재 과목 점수를 입력해주세요: '))

average = (test1 + test2 + test3) / 3.0
print('3 과목의 평균 점수: ', average)

첫 번재 과목 점수를 입력해주세요: 90
두 번재 과목 점수를 입력해주세요: 80
세 번재 과목 점수를 입력해주세요: 100
3 과목의 평균 점수:  90.0

In [ ]:
# Program 2-16
total_seconds = float(input('시간 값을 초 단위로 입력해주세요: '))
hours = total_seconds // 3600
minutes = (total_seconds // 60) % 60
seconds = total_seconds % 60

print('시 분 초는 다음과 같습니다.')
print('시: ', hours)
print('분: ', minutes)
print('초: ', seconds)

시간 값을 초 단위로 입력해주세요: 11730
시 분 초는 다음과 같습니다.
시:  3.0
분:  15.0
초:  30.0

In [ ]:
# Program 2-17
future_value = float(input('목표 금액을 입력해주세요: '))
rate = float(input('연간 이율을 입력해주세요: '))
years = int(input('저축 기간을 연 단위로 입력해주세요: '))
present_value = future_value / (1.0 + rate)**years
print('적립 금액: ', present_value)

목표 금액을 입력해주세요: 10000
연간 이율을 입력해주세요: 0.05
저축 기간을 연 단위로 입력해주세요: 10
적립 금액:  6139.132535407592

In [ ]:
# Program 2-18
print('a','b','c')
print('a','b','c', sep='')
print('a','b','c', sep='***')

a b c
abc
a***b***c

In [ ]:
# Program 2-19
print('a')
print('b')
print('c', end='')
print('d', end='')
print('e', end='***')
print('f')

a
b
cde***f

In [ ]:
# Program 2-20
amount_due = 5000.0
monthly_payment = amount_due / 12.0
print('월급여: ', monthly_payment)

월급여:  416.6666666666667

In [ ]:
# Program 2-21
amount_due = 5000.0
monthly_payment = amount_due / 12.0
print('월급여: ', format(monthly_payment, '.2f'))

월급여:  416.67

In [ ]:
# Program 2-22
monthly_pay = 5000.0
annual_pay = monthly_pay * 12
print('Your annual pay is $', format(annual_pay, ',.2f'), sep='')

Your annual pay is $60,000.00

In [ ]:
# Program 2-23
num1 = 127.899
num2 = 3456.148
num3 = 3.776
num4 = 264.821
num5 = 88.081
num6 = 799.999

print(format(num1, '7.2f'))
print(format(num2, '7.2f'))
print(format(num3, '7.2f'))
print(format(num4, '7.2f'))
print(format(num5, '7.2f'))
print(format(num6, '7.2f'))

 127.90
3456.15
   3.78
 264.82
  88.08
 800.00