<a href="https://colab.research.google.com/github/Cheunji/aipython/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%8B%AC%ED%99%94%EB%AC%B8%EB%B2%95(24.01.05).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Split & Join

In [5]:
data="John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines=data.split("\n")
print(data)   # data : 문자열
print(lines)  # lines : 리스트

for line in lines:
  fields = line.split(",")
  print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

John,30,Engineer
Alice,25,Designer
Bob,22,Artist
['John,30,Engineer', 'Alice,25,Designer', 'Bob,22,Artist']
Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist
['Bob', '22', 'Artist']

In [7]:
words = ['Hello', 'world', 'this', 'is', 'a', 'test'] # words: 리스트
sentence = ' '.join(words)
print(sentence)            # sentence: 문자열

Hello world this is a test

In [13]:
# Lab
# 1. Split the string

a = "Geeks for Geeks"
# b = a.split(" ")
# print(b)
print(a.split(" "))

# 2. Join the list of strings
c = ['Geeks', 'for', 'Geeks']
# d = '-'.join(c)
# print(d)
print('-'.join(c))

['Geeks', 'for', 'Geeks']
Geeks-for-Geeks

2. list comprehension

In [14]:
# squares = [x**2 for x in range(5) if x%2==0] # 짝수만
# print(squares)

squares = [x**2 for x in range(5)]
print(squares)

[0, 4, 16]

In [15]:
squares=[]
for x in range(5):
  squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16]

In [19]:
# 1에서 20까지(iterable)의 3의 배수의 제곱(condition) 리스트 만들기
squares = [x**2 for x in range(1, 21) if x%3==0]
print(squares)

[9, 36, 81, 144, 225, 324]

In [26]:
# Lab
# 1.
a = [x**2 for x in range(1,6)]
print(a)

# 2.
city = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
s_city = [x for x in city if "S" in x]
print(s_city)

[1, 4, 9, 16, 25]
['Seoul', 'Shanghai']

In [27]:
city=[]

for c in ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]:
  if "S" in c:
    city.append(c)

print(city)

['Seoul', 'Shanghai']

3. enumerate & zip

In [28]:
# 3.1 enumerate
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 cherry

In [40]:
# Lab
# 1. Enumerate

fruits = ['a','b','c']
for index, fruit in enumerate(fruits):
  print("fruit",index, "name is", fruit)

for idx in range(len(fruits)):
  print("fruit", idx, "name is", fruits[idx])

fruit 0 name is a
fruit 1 name is b
fruit 2 name is c
fruit 0 name is a
fruit 1 name is b
fruit 2 name is c

In [45]:
# 3.2 zip

names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]

for name, age in zip(names, ages):
  print(f"{name} is {age} years old.") # format문 형식 기억

# 두 개의 리스트를 사전형으로
# 변수명 = dict(zip(key, values))

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [52]:
# Lab
# 1. zip

name = ["M", "N", "S", "A"]
roll_no = [4, 1, 3, 2]
new=[]

for a, b in zip(name, roll_no):
  new.append((a,b))
print(new)

# 2. zip & enumerate

names = ['M', 'R', 'C']
ages = [24, 50, 18]

for n, a in zip(names, ages):

[('M', 4), ('N', 1), ('S', 3), ('A', 2)]

4. lambda & map

In [56]:
# 4.1 lambda

add = lambda x,y: x+y
print(add(1,2) )

3

In [58]:
# 4.2 map

numbers = [1,2,3,4]
squared = list(map(lambda x: x*2, numbers))
print(squared)

[2, 4, 6, 8]